@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
fieldset.w-o-border{
    border: none;
    padding-left: 0 !important;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.section-title{
    font-size: 25px;
    font-weight: 700;
    color: #65daff;
    margin-bottom: 40px;
}
.section-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: white;
}
body{
background-color: #222222;
}
.nav-menu{
background-color: #222222;
height: 60px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.708);
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 100;
line-height: 60px;
}
.logo{
    text-decoration: none;
    color: white;
}
.navigation{
    float: right;
}
.nav-item{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.site-header{
    background: url(img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
    width: 100%;
}
.header-content{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}
.header-title{
    color: #4e4e4e;
    font-size: 60px;
    font-weight: 900;
    margin-left: 20px;
}
.header-sub_title{
    color: #4e4e4e;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
}
.header-btn{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    background: linear-gradient(45deg, #65daff, #70ffcb);
    height: 60px;
    display: block;
    width: 200px;
    text-align: center;
    line-height: 60px;
}
.nav-item:hover{
color: #65daff;
}
.header-btn:active{
    background: linear-gradient(45deg, #006324d6, #00499c);
}
.about{
    height: 50vh;
    text-align: center;
}
.about-card{
    display: inline-block;
    margin: 30px 10px;
    width: 22%;
    height: 180px;
    vertical-align: top
}
.about-card_title{
    color: #65daff;
    font-size: 20px;
}
.about-card_img{
    height: 100px;
    width: 100px;
}
.games-container{
    box-shadow: 0 5px 3px black;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.games-card_img{
    background: url(img/csgo.jpg) center/cover no-repeat;
    height: 300px;
    width: 48%;
    display: inline-block;
}
.games-card_content{
    width: 48%;
    display: inline-block;
    height: 300px;
    vertical-align: top;
    padding: 15px;
}
.game-title{
    color: #70ffcb;
    text-align: left;
    margin-top: 15px;
}
.game-divider{
    width: 20%;
    background-color: #70ffcb;
    border: none;
    height: 3px;
    border-radius: 3px;
    margin: 15px 0;
}
.game-description{
    text-align: left;
}
.games-card_img1{
    background: url(img/dota2.jpg) center/cover no-repeat;
    height: 300px;
    width: 48%;
    display: inline-block;
}
.games-card_img2{
    background: url(img/apex.jpg) center/cover no-repeat;
    height: 300px;
    width: 48%;
    display: inline-block;
}
.games-card{
}
.about-us_title{
    text-align: center;
}
.about-us{
    margin-top: 40px;
}
.about-us_p{
    text-align: center;
    color: white;
    margin-bottom: 25px;
}
.content-bottom{
    box-shadow: 0 5px 3px black;
    background-color: #222222;
    margin-bottom: 60px;
    padding: 40px 30px;
}
.bottom-hr{
    margin: 0 auto 30px;
    width: 300px;
    height: 4px;
    background-color: white;
    border-radius: 100px;
}
.blue-part{
    min-height: 150px;
    width: 75%;
    margin: auto;
    background-color: rgb(0, 195, 255);
    margin-bottom: 40px;
    padding: 45px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-top: 45px;
    padding-right: 100px;
    padding-bottom: 45px; */
}
.bottom-p{
    color: white;
    font-size: 50px;
    display: inline-block;
}
.bottom-a{
    text-decoration: none;
    color: white;
    background-color: black;
    min-width: 150px;
    display: inline-block;
    /* min-height: 50px; */
    text-align: center;
    line-height: 3em;
}
.form{
    box-shadow: 0 5px 3px black;
    margin-top: 100px;
    color: white;
    & form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & legend {
        color: white;
    }
    & fieldset {
        padding: 1rem;
    }
    & button{
        align-self: center;
    }
    & input[type="text"], & textarea{
        color: white;
        display: block;
        width: 100%;
        background-color: #222222;
        &::placeholder{
            transition: 300ms;
        }
        &:focus{
            outline: 0;
            &::placeholder{
                opacity: 0;
            }
        }
    }
    & input[type="text"]{
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.758);
        line-height: 2em;
        padding: 0 0.5em;
        &:not(:first-of-type) {margin-top: 1em;}

    }
    & textarea{
        padding: 0.5em;
        resize: none;
    }
}
.form_top{
    background-color: #65daff;
    color: white;
    display: flex;
    & a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        background-color: aliceblue;
        font-weight: 700;
    }
    & h1 {
        text-align: center;
        font-size: 20px;
        line-height: 3em;
        flex: 1 1 auto;
    }
}
